/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > .container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.watermark-logo{
    position: absolute;
    bottom: 20px;
    right: 20px;
    max-height: 40px;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

button, .btn, .form-control{
    border-radius: 0;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.empty-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.logo,
.logo {
    max-width: 250px;
    margin-bottom: 2em;
    margin-top: 1em;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
}

/*Login & Signup*/
.signin-container .form-wrapper,
.signup-container .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-container .button-container,
.signin-container .button-container {
    width: 100%;
}

.signup-container .button-container button,
.signin-container .button-container button {
    flex: 1;
}

.input-wrapper {
    margin-bottom: .3em;
    width: 100%;
    text-align: left;
}

.input-wrapper span{
    color: red;
}

/* ChatRoom */
.room-title{
    margin-bottom: 1em;
}

.chat-room {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 2em;
    z-index: 100;
    background-color: #fff;
}

.chat-room .chat-box {
    flex: 1;
    border: 1px solid #dee2e6;
    border-bottom: none;
    max-height: 600px;
    display: flex;
}

.chat-room .chat-box .wrapper {
    display: flex;
    flex: 1;
}

.chat-room .chat-box .message-list {
    flex: 1 1 75%;
    padding: .5em;
    height: 100%;
    overflow-y: auto;
}

.chat-room .chat-box .user-list {
    flex: 1 1 25%;
    border-left: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-room .chat-box .user-list label {
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    padding: .3em;
}

.chat-room .chat-box .message{
    display: flex;
}

.chat-room .chat-box .message label {
    margin-right: 5px; 
}

.chat-room .chat-box .message p {
    word-break: break-all;
}

.chat-room .bottom {
    width: 100%;
    display: flex;
    border: 1px solid #dee2e6;
}

.chat-room .bottom textarea {
    width: 100%;
    height: 60px;
    resize: none;
    border: none;
    padding: .5em;
}

.chat-room .bottom button {
    border-left: 1px solid #dee2e6;
    border-radius: 0;
}

.chat-room .bottom button:hover {
    animation-name: test;
    animation-duration: 2s;
    cursor: pointer;
}

@keyframes test{
    0% {
        transform: rotate(0deg);
        border: none;
        border-radius: 50%;
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    }

    100% {
        transform: rotate(360deg);
        border-radius: 0;
        box-shadow: none;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-container .card {
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: #a29fe1;
    margin-bottom: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container .card:hover,
.card-container .card:hover * {
    cursor: pointer;
    background-color: #645fcf;
    text-decoration: none;
}

.card-container .card label {
    margin: 0;
}

.firework-canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
    opacity: .6;
}