@model MyChat.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div class="signin-container text-center">
    <img class="logo" src="~/images/logo_transparent1.png" />
    <form class="form-wrapper" method="post" asp-controller="Account" asp-action="SignIn">
        <div class="input-wrapper">
            <input asp-for="Username" id="usernameInput" type="text" class="form-control" placeholder="Username..">
        </div>
        <div class="input-wrapper">
            <input asp-for="Password" id="passwordInput" type="password" class="form-control" placeholder="Password..">
        </div>
        <div class="button-container">
            <a href="/Account/SignUp" class="btn btn-primary">Create account</a>
            <button type="submit" id="signinButton" class="btn btn-success">Signin</button>
        </div>
    </form>
</div>

<script>
    //$('#signinButton').on('click', function () {
    //    const username = $('#usernameInput').val();
    //    const password = $('#passwordInput').val();

    //    $.ajax({
    //        type: 'POST',
    //        dataType: 'json',
    //        url: localUrl + `Account/Signin`,
    //        data: { username, password },
    //        success: function (data) {
    //            window.location.href = `${localUrl}Home/Index`;
    //        },
    //        error: function () {
    //            alert("Wrong credentials. Try again.");
    //        }
    //    });
    //});
</script>